/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';
@import '@fontsource-variable/inter/wght.css';
@import '@ng-select/ng-select/themes/default.theme.css';

@theme {
  --color-primary-dark: #0053dc;
  --color-primary-light: #3e76fe;
}

body {
  font-family: 'Inter Variable', sans-serif;
}

button {
  cursor: pointer;
}

/* ng-select custom styles */
.custom-ng-select .ng-select-container {
  background-color: #f3f4f6;
  border: none;
  border-radius: 0.125rem;
  min-height: 42px;
}

.custom-ng-select .ng-select-container:hover {
  box-shadow: none;
}

.custom-ng-select.ng-select.ng-select-focused .ng-select-container {
  background-color: #f3f4f6;
  border: none;
  box-shadow: none;
}

.custom-ng-select.ng-select.ng-select-opened .ng-select-container {
  background-color: #f3f4f6;
}

.custom-ng-select .ng-placeholder {
  color: #9ca3af;
}

.custom-ng-select .ng-dropdown-panel {
  background-color: #f3f4f6;
  border: 1px solid #d1d5db;
  border-radius: 0.125rem;
  box-shadow: none;
  margin-top: 4px;
}

.custom-ng-select .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  padding: 0.625rem 1rem;
  font-size: 0.875rem;
}

.custom-ng-select .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected {
  background-color: #0053dc;
  color: white;
}

.custom-ng-select .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
  background-color: #e5e7eb;
  color: #111827;
}

.custom-ng-select
  .ng-dropdown-panel
  .ng-dropdown-panel-items
  .ng-option.ng-option-selected.ng-option-marked {
  background-color: #0053dc;
  color: white;
}
